@model Texter.Models.Contact

@{
    ViewData["Title"] = "Product - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add new contact!</h1>


@using (Html.BeginForm())
{
    <label>Name</label>
    @Html.EditorFor(model => model.ContactName,new { htmlAttributes = new { @class = "form-control" } })

    <label>Number</label>
    @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })

   <br/>
    @Html.ActionLink("Back", "Index", "Home", null, new {@class = "btn btn-warning"})
     <input type="submit" value="Save" class="btn btn-success"/>
}

