@model Texter.Models.Message

<hr />
@using (Html.BeginForm("SendMessage", "Home", FormMethod.Post))
{
    <input type="hidden" name="to" value="@Model.To"/>

    <input type="hidden" name="from" value="2062078035"/>

    @Html.TextAreaFor(model => model.Body, new {@class="form-control"})

    <div class="float-right">
        <input type="submit" value="Send!" class="btn btn-info submit" />
	</div>
}

@Html.ActionLink("Back home", "Index")